apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster-wizard.secret" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "cluster-wizard.labels" . | nindent 4 }}
type: Opaque
data:
  env_smtp.json: {{ tpl (.Files.Get "files/env_smtp.json") $ | b64enc }}
  env_cluster.json: {{ tpl (.Files.Get "files/env_cluster.json") $ | b64enc }}
{{ if .Values.opa.role }}
  data.json: {{ .Values.opa.role | b64enc }}
{{ else }}
  data.json: {{ .Files.Get "files/default_role.json" | b64enc }}
{{ end }}
{{ if .Values.opa.role }}
  policy.rego: {{ .Values.opa.policy | b64enc }}
{{ else }}
  policy.rego: {{ .Files.Get "files/default_policy.rego" | b64enc }}
{{ end }}

